*{
    margin: 0px;
    padding: 0px;
}
#mySidenav a {
    position: absolute;
    left: -100px;
    top: 35px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#Nbtn {
    top: 20px;
    background-color: #db8606;
}
/* header footer  */

header, footer{
    border: 2px solid red;
    /* width: 1200px; */
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    /* margin: 0px 0px; */
    /* margin-top: 20px; */
    background-image: url(sunset.jpg);
}

.forts-mainbox{
    /* border: 5px solid black; */
}
/* forts  */
#forts{
    display:flex;
    margin:34px;
    /* width: 1500px; */
/* border: 5px solid black; */


    }
#forts .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 10px 6px;
    border-radius: 23px;
    background-color: #f2f2f2;
    margin-top: -30px;
    /* width: 50%; */
    
    flex-basis: 650px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

#forts .box img{
        height: 150px; 
        display: block;
        margin: auto
      }
/* .next {
    font-size: 1.3rem;
    margin: 20px 20px;
    /* text-decoration: none; */
    text-align:end
}
/* .next a{
    border: 2px solid white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 16px;
}
.next a:hover{
    color: gray;
} */ */

.PreviousNext{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.PreviousNext {
    
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;

}
.PreviousNext a{
    font-size: 1.4rem;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
}

/* utility classes  */
.h-primary{

  font-size: 1.8rem;
  padding: 12px;
}
.h-secondary{
 
  font-size: 2.8rem;
  padding: 12px;
}
.center{
    text-align: center;
    
}
p{
  
    font-size: 1.2rem;
    
}