*{
    margin: 0px;
    padding: 0px;
    top: 0px;
    /* background-color: red; */
}
#mySidenav a {
    position: relative;
    left: -185px;
    top: 0px;
    transition: 0.3s;
    padding: 15px;
    width: 90px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}